<%-include('header')%>

<div class="container-fluid">
  <%-include('titleSubtitle')%>

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          Bagaimana cara kerja Easysay?
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Easysay bekerja dengan cara membandingkan jawaban
          pelajar(siswa/mahasiswa) yang ingin diperiksa dengan jawaban yang
          menurut pengajar(guru/dosen) benar. Maka dari itu aplikasi ini hanya
          dapat digunakan untuk memeriksa esai yang memiliki jawaban benar /
          teoritis.
          <br />
          <img
            src="https://i.ibb.co/xFbWHXn/Help-1-1.jpg"
            class="rounded img-fluid shadow-lg"
            alt="Help 1.1"
          />
          <br />
          Bagian <strong>Kunci Jawaban</strong> diisi oleh jawaban pengajar,
          sedangkan bagian <strong>Jawaban</strong> diisi oleh jawaban pelajar
          yang ingin diperiksa. Kedua kolom diisi oleh pemeriksa jawaban.
          <br />
          Easysay <em>bukan</em> aplikasi E-Learning dimana siswa dapat menjawab
          soal dan langsung diperiksa.
          <br />
          Pada gambar diatas, 58.64 merupakan nilai hasil pemeriksaan esai.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          Apa bahasa yang dapat digunakan pada Easysay?
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Easysay dapat memeriksa esai dengan jawaban berbahasa
          <strong>Indonesia</strong> atau <strong>Inggris</strong>.
          <em>"Atau"</em> berarti esai yang diperiksa sebaiknya tidak berisi
          campuran dari kedua bahasa tersebut.
          <br />
          <img
            src="https://i.ibb.co/rvpY3m0/Help-2-1-JPG.png"
            class="rounded img-fluid shadow-lg"
            alt="Help 2.1"
          />
          <br />
          Bahasa yang ingin digunakan untuk memeriksa esai dapat dipilih pada
          halaman utama aplikasi.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          Bagaimana cara cek satu jawaban?
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Untuk memeriksa satu jawaban, anda harus memilih terlebih dahulu
          bahasa yang akan digunakan. Kemudian anda dapat menekan tombol
          <strong>Cek satu jawaban</strong> seperti pada gambar.
          <br />
          <img
            src="https://i.ibb.co/h1kNXhj/Help-3-1.jpg"
            class="rounded img-fluid shadow-lg"
            alt="Help 3.1"
          />
          <br />
          Kemudian anda dapat memasukkan jawaban pengajar dan jawaban pelajar
          pada kolomnya masing-masing, setelah itu menekan tombol
          <strong>Periksa</strong>.
          <br />
          <img
            src="https://i.ibb.co/cQgtTZ4/Help-3-2.jpg"
            class="rounded img-fluid shadow-lg"
            alt="Help 3.2"
          />
          <br />
          Setelah itu, anda akan dialihkan ke halaman hasil penilaian.
          <br />
          <img
            src="https://i.ibb.co/j6ymQJg/Help-3-3.jpg"
            class="rounded img-fluid shadow-lg"
            alt="Help 3.3"
          />
          <br />
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour"
          aria-expanded="false"
          aria-controls="flush-collapseFour"
        >
          Bagaimana cara cek banyak jawaban sekaligus?
        </button>
      </h2>
      <div
        id="flush-collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingFour"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Anda dapat melakukan pengecekan banyak jawaban pelajar dengan satu
          jawaban pengajar untuk dijadikan landasan perbandingan esai.
          <br />
          Anda harus memilih bahasa yang ingin digunakan terlebih dahulu,
          kemudian meenekan tombol <strong>Cek banyak jawaban</strong> seperti
          pada gambar.
          <br />
          <img
            src="https://i.ibb.co/g9KQNq1/Help-4-1.jpg"
            class="rounded img-fluid shadow-lg"
            alt="Help 4.1"
          />
          <br />
          Kemudian anda dapat memasukkan jawaban pengajar pada kolom yang sudah
          disediakan. <br />
          Setelah itu, anda perlu mengunggah <strong>file</strong> yang berisi
          nama dan jawaban pelajar untuk diperiksa masing-masing terhadap
          jawaban pengajar.
          <br />
          Jangan lupa untuk menspesifikasikan kolom yang berisi
          <strong>nama pelajar</strong> pada <em>Kolom Nama Pelajar</em>, dan
          kolom yang berisi <strong>jawaban pelajar</strong> pada
          <em>Kolom Jawaban Pelajar</em>.
          <br />
          <img
            src="https://i.ibb.co/n03MSss/Help-4-2.jpg"
            class="rounded img-fluid shadow-lg"
            alt="Help 4.2"
          />
          <br />
          Setelah itu, anda dapat menekan tombol <strong>Periksa</strong> dan
          anda akan dialihkan ke halaman hasil penilaian esai.
          <br />
          <img
            src="https://i.ibb.co/WVW5WJQ/Help-4-3.jpg"
            class="rounded img-fluid shadow-lg"
            alt="Help 4.3"
          />
          <br />
          Kemudian apabila anda dapat mengunduh hasil penilaian dengan menekan
          tombol <strong>Export to PDF</strong>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFive"
          aria-expanded="false"
          aria-controls="flush-collapseFive"
        >
          Apa itu file dengan format CSV?
        </button>
      </h2>
      <div
        id="flush-collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingFive"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          File CSV adalah salah satu file Excel yang berisi tabel dan kolom.
          File ini dapat dibaca oleh Easysay untuk diperiksa setiap tabel dan
          kolomnya untuk pasangan nama dan jawaban yang telah dispesifikasikan
          saat anda hendak melakukan pemeriksaan banyak esai sekaligus.
          <br />
          <img
            src="https://i.ibb.co/z4fw16g/Help-5-1.jpg"
            class="rounded img-fluid shadow-lg"
            alt="Help 5.1"
          />
          <br />
          Pengembang menggunakan file CSV karena Google Form merupakan salah
          satu teknologi yang sering digunakan untuk Ujian Online di semua
          kalangan.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSix"
          aria-expanded="false"
          aria-controls="flush-collapseSix"
        >
          Bagaimana mendapatkan file CSV dari Google Form?
        </button>
      </h2>
      <div
        id="flush-collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingSix"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Anda dapat membuka Google Form anda dan mengunduh jawaban dengan
          bentuk CSV seperti tertera pada gambar berikut ini.
          <br />
          <img
            src="https://i.ibb.co/LdTd1bt/Help-5-2.jpg"
            class="rounded img-fluid shadow-lg"
            alt="Help 5.2"
          />
          <br />
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSeven"
          aria-expanded="false"
          aria-controls="flush-collapseSeven"
        >
          Bagaimana menentukan Nama dan Jawaban pelajar pada file CSV?
        </button>
      </h2>
      <div
        id="flush-collapseSeven"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingSeven"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Anda dapat memeriksa file CSV yang ingin digunakan.
          <br />
          <img
            src="https://i.ibb.co/BC4dchL/Help-6-1.jpg"
            class="rounded img-fluid shadow-lg"
            alt="Help 6.1"
          />
          <br />
          <br />
          Pada contoh, kolom nama adalah "Name" karena pada kolom dibawahnya
          terdapat nama pelajar yang ingin diperiksa.
          <br />
          Kemudian kolom jawaban pelajar adalah "I would like (come) to the
          party with you." karena pada kolom dibawahnya terdapat jawaban pelajar
          yang ingin diperiksa.
          <br />
          <img
            src="https://i.ibb.co/vHjKPYh/Help-6-2.jpg"
            class="rounded img-fluid shadow-lg"
            alt="Help 6.2"
          />
          <br />
          Nama kolom nama dan nama kolom jawaban pelajar dapat disalin langsung
          dari excel saat membuka file CSV dan ditempel langsung pada aplikasi
          Easysay.
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<%-include('footer')%>
